In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("JC-201912-citibike-tripdata.csv")

In [3]:
data

,tripduration,start date,start time,stop date,stop time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,61.0,12/2/2019,7:13:54,12/2/2019,7:14:55,3275.0,Columbus Drive,40.718355,-74.038914,3187.0,Warren St,40.721124,-74.038051,29241.0,Subscriber,1996.0,Female
1,61.0,12/29/2019,8:31:32,12/29/2019,8:32:34,3211.0,Newark Ave,40.721525,-74.046305,3272.0,Jersey & 3rd,40.723332,-74.045953,26301.0,Subscriber,1987.0,Male
2,61.0,12/19/2019,12:38:09,12/19/2019,12:39:11,3186.0,Grove St PATH,40.719586,-74.043117,3185.0,City Hall,40.717733,-74.043845,26191.0,Subscriber,1985.0,Male
3,62.0,12/20/2019,9:58:38,12/20/2019,9:59:40,3187.0,Warren St,40.721124,-74.038051,3275.0,Columbus Drive,40.718355,-74.038914,29670.0,Subscriber,1987.0,Male
4,62.0,12/8/2019,20:09:20,12/8/2019,20:10:22,3186.0,Grove St PATH,40.719586,-74.043117,3185.0,City Hall,40.717733,-74.043845,29525.0,Subscriber,1986.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19725,138045.0,12/26/2019,23:02:08,12/28/2019,13:22:53,3791.0,Hoboken Ave at Monmouth St,40.735208,-74.046964,3272.0,Jersey & 3rd,40.723332,-74.045953,26314.0,Customer,1989.0,Male
19726,301489.0,12/28/2019,15:03:34,1/1/2020,2:48:23,3185.0,City Hall,40.717733,-74.043845,3185.0,City Hall,40.717733,-74.043845,29229.0,Subscriber,1993.0,Female
19727,854392.0,12/23/2019,15:40:32,1/2/2020,13:00:25,3195.0,Sip Ave,40.730897,-74.063913,3281.0,Leonard Gordon Park,40.745910,-74.057271,29554.0,Customer,2000.0,Male
19728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Start station ID
startstation= data['start station id'].value_counts()
startstation

#convert to DataFrame
startstation_df=pd.DataFrame(startstation)
startstation_df

        start station id
3186.0              2256
3195.0              1209
3203.0              1020
3202.0               856
3639.0               794
3792.0               725
3276.0               685
3269.0               627
3199.0               538
3187.0               514
3278.0               487
3185.0               484
3211.0               478
3270.0               474
3194.0               473
3272.0               463
3209.0               446
3275.0               442
3267.0               436
3638.0               410
3273.0               399
3213.0               396
3279.0               389
3192.0               311
3184.0               309
3640.0               305
3681.0               295
3205.0               288
3280.0               262
3214.0               255
3207.0               219
3678.0               219
3210.0               218
3679.0               215
3483.0               202
3225.0               187
3481.0               169
3268.0               135
3677.0               128
3212.0               123
3193.0               121
3791.0               103
3206.0                97
3220.0                96
3196.0                84
3198.0                81
3277.0                72
3281.0                70
3694.0                64
3201.0                54
3191.0                45

In [5]:


#set name of index
startstation_df.index.name='station id'

startstation_df

            start station id
station id
3186.0                  2256
3195.0                  1209
3203.0                  1020
3202.0                   856
3639.0                   794
3792.0                   725
3276.0                   685
3269.0                   627
3199.0                   538
3187.0                   514
3278.0                   487
3185.0                   484
3211.0                   478
3270.0                   474
3194.0                   473
3272.0                   463
3209.0                   446
3275.0                   442
3267.0                   436
3638.0                   410
3273.0                   399
3213.0                   396
3279.0                   389
3192.0                   311
3184.0                   309
3640.0                   305
3681.0                   295
3205.0                   288
3280.0                   262
3214.0                   255
3207.0                   219
3678.0                   219
3210.0                   218
3679.0                   215
3483.0                   202
3225.0                   187
3481.0                   169
3268.0                   135
3677.0                   128
3212.0                   123
3193.0                   121
3791.0                   103
3206.0                    97
3220.0                    96
3196.0                    84
3198.0                    81
3277.0                    72
3281.0                    70
3694.0                    64
3201.0                    54
3191.0                    45

In [6]:
#end station count
endstation=  data['end station id'].value_counts()
endstation
#convert to DataFrame
endstation_df=pd.DataFrame(endstation)

endstation_df

        end station id
3186.0            3033
3195.0            1159
3792.0             935
3203.0             911
3202.0             848
3639.0             844
3276.0             626
3187.0             570
3199.0             554
3185.0             503
3211.0             482
3269.0             472
3275.0             458
3638.0             445
3272.0             441
3273.0             414
3278.0             386
3209.0             386
3267.0             360
3194.0             359
3184.0             334
3213.0             330
3192.0             327
3279.0             322
3270.0             303
3205.0             298
3681.0             296
3640.0             269
3214.0             262
3280.0             259
3679.0             201
3210.0             200
3483.0             198
3481.0             192
3678.0             181
3225.0             154
3193.0             151
3791.0             145
3268.0             135
3207.0             133
3677.0             121
3277.0              93
3206.0              81
3198.0              81
3212.0              78
3201.0              73
3196.0              72
3281.0              68
3220.0              66
3191.0              62
3694.0              53
2008.0               4

In [7]:
#merge both DataFrames

endstation_df.columns=['Trips']

endstation_df

        Trips
3186.0   3033
3195.0   1159
3792.0    935
3203.0    911
3202.0    848
3639.0    844
3276.0    626
3187.0    570
3199.0    554
3185.0    503
3211.0    482
3269.0    472
3275.0    458
3638.0    445
3272.0    441
3273.0    414
3278.0    386
3209.0    386
3267.0    360
3194.0    359
3184.0    334
3213.0    330
3192.0    327
3279.0    322
3270.0    303
3205.0    298
3681.0    296
3640.0    269
3214.0    262
3280.0    259
3679.0    201
3210.0    200
3483.0    198
3481.0    192
3678.0    181
3225.0    154
3193.0    151
3791.0    145
3268.0    135
3207.0    133
3677.0    121
3277.0     93
3206.0     81
3198.0     81
3212.0     78
3201.0     73
3196.0     72
3281.0     68
3220.0     66
3191.0     62
3694.0     53
2008.0      4

In [8]:
#set name of index
endstation_df.index.name='station id'

endstation_df

            Trips
station id
3186.0       3033
3195.0       1159
3792.0        935
3203.0        911
3202.0        848
3639.0        844
3276.0        626
3187.0        570
3199.0        554
3185.0        503
3211.0        482
3269.0        472
3275.0        458
3638.0        445
3272.0        441
3273.0        414
3278.0        386
3209.0        386
3267.0        360
3194.0        359
3184.0        334
3213.0        330
3192.0        327
3279.0        322
3270.0        303
3205.0        298
3681.0        296
3640.0        269
3214.0        262
3280.0        259
3679.0        201
3210.0        200
3483.0        198
3481.0        192
3678.0        181
3225.0        154
3193.0        151
3791.0        145
3268.0        135
3207.0        133
3677.0        121
3277.0         93
3206.0         81
3198.0         81
3212.0         78
3201.0         73
3196.0         72
3281.0         68
3220.0         66
3191.0         62
3694.0         53
2008.0          4

In [10]:
#merge both DataFrames
df_outer = pd.merge(startstation, endstation, on='station id', how='outer')

df_outer

            start station id  end station id
station id
3186.0                2256.0            3033
3195.0                1209.0            1159
3203.0                1020.0             911
3202.0                 856.0             848
3639.0                 794.0             844
3792.0                 725.0             935
3276.0                 685.0             626
3269.0                 627.0             472
3199.0                 538.0             554
3187.0                 514.0             570
3278.0                 487.0             386
3185.0                 484.0             503
3211.0                 478.0             482
3270.0                 474.0             303
3194.0                 473.0             359
3272.0                 463.0             441
3209.0                 446.0             386
3275.0                 442.0             458
3267.0                 436.0             360
3638.0                 410.0             445
3273.0                 399.0             414
3213.0                 396.0             330
3279.0                 389.0             322
3192.0                 311.0             327
3184.0                 309.0             334
3640.0                 305.0             269
3681.0                 295.0             296
3205.0                 288.0             298
3280.0                 262.0             259
3214.0                 255.0             262
3207.0                 219.0             133
3678.0                 219.0             181
3210.0                 218.0             200
3679.0                 215.0             201
3483.0                 202.0             198
3225.0                 187.0             154
3481.0                 169.0             192
3268.0                 135.0             135
3677.0                 128.0             121
3212.0                 123.0              78
3193.0                 121.0             151
3791.0                 103.0             145
3206.0                  97.0              81
3220.0                  96.0              66
3196.0                  84.0              72
3198.0                  81.0              81
3277.0                  72.0              93
3281.0                  70.0              68
3694.0                  64.0              53
3201.0                  54.0              73
3191.0                  45.0              62
2008.0                   NaN               4

In [11]:
#add both columns
x= df_outer.sum(axis=1)
x

station id
3186.0    5289.0
3195.0    2368.0
3203.0    1931.0
3202.0    1704.0
3639.0    1638.0
3792.0    1660.0
3276.0    1311.0
3269.0    1099.0
3199.0    1092.0
3187.0    1084.0
3278.0     873.0
3185.0     987.0
3211.0     960.0
3270.0     777.0
3194.0     832.0
3272.0     904.0
3209.0     832.0
3275.0     900.0
3267.0     796.0
3638.0     855.0
3273.0     813.0
3213.0     726.0
3279.0     711.0
3192.0     638.0
3184.0     643.0
3640.0     574.0
3681.0     591.0
3205.0     586.0
3280.0     521.0
3214.0     517.0
3207.0     352.0
3678.0     400.0
3210.0     418.0
3679.0     416.0
3483.0     400.0
3225.0     341.0
3481.0     361.0
3268.0     270.0
3677.0     249.0
3212.0     201.0
3193.0     272.0
3791.0     248.0
3206.0     178.0
3220.0     162.0
3196.0     156.0
3198.0     162.0
3277.0     165.0
3281.0     138.0
3694.0     117.0
3201.0     127.0
3191.0     107.0
2008.0       4.0
dtype: float64

In [12]:
#add series as new DataFrame
df_outer['Total Count']= x

df_outer

            start station id  end station id  Total Count
station id
3186.0                2256.0            3033       5289.0
3195.0                1209.0            1159       2368.0
3203.0                1020.0             911       1931.0
3202.0                 856.0             848       1704.0
3639.0                 794.0             844       1638.0
3792.0                 725.0             935       1660.0
3276.0                 685.0             626       1311.0
3269.0                 627.0             472       1099.0
3199.0                 538.0             554       1092.0
3187.0                 514.0             570       1084.0
3278.0                 487.0             386        873.0
3185.0                 484.0             503        987.0
3211.0                 478.0             482        960.0
3270.0                 474.0             303        777.0
3194.0                 473.0             359        832.0
3272.0                 463.0             441        904.0
3209.0                 446.0             386        832.0
3275.0                 442.0             458        900.0
3267.0                 436.0             360        796.0
3638.0                 410.0             445        855.0
3273.0                 399.0             414        813.0
3213.0                 396.0             330        726.0
3279.0                 389.0             322        711.0
3192.0                 311.0             327        638.0
3184.0                 309.0             334        643.0
3640.0                 305.0             269        574.0
3681.0                 295.0             296        591.0
3205.0                 288.0             298        586.0
3280.0                 262.0             259        521.0
3214.0                 255.0             262        517.0
3207.0                 219.0             133        352.0
3678.0                 219.0             181        400.0
3210.0                 218.0             200        418.0
3679.0                 215.0             201        416.0
3483.0                 202.0             198        400.0
3225.0                 187.0             154        341.0
3481.0                 169.0             192        361.0
3268.0                 135.0             135        270.0
3677.0                 128.0             121        249.0
3212.0                 123.0              78        201.0
3193.0                 121.0             151        272.0
3791.0                 103.0             145        248.0
3206.0                  97.0              81        178.0
3220.0                  96.0              66        162.0
3196.0                  84.0              72        156.0
3198.0                  81.0              81        162.0
3277.0                  72.0              93        165.0
3281.0                  70.0              68        138.0
3694.0                  64.0              53        117.0
3201.0                  54.0              73        127.0
3191.0                  45.0              62        107.0
2008.0                   NaN               4          4.0

In [14]:
#save DataFrame to new index

df_outer.to_csv('totalstationcount.csv')